.bodyPagos-infoPago {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width: 1200px;
}

.bodyPagos-direccionEnvio {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.bodyPagos-direccionEnvio p {
  margin-bottom: 1rem;
}

.modalPagos-titulo {
  color: rgb(65, 65, 65);
  font-size: clamp(1.2rem, 2vw, 2rem);
  align-self: center;
  font-weight: bolder;
}

.modalPagos-header {
  display: flex;
  align-items: start;
  justify-content: start;
}

.modalPagos-header img {
  width: 180px;
  object-fit: cover;
}

.bodyPagos-direccionEnvio input,
.bodyPagos-direccionEnvio textarea {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.8rem;
  background-color: #300060;
  border: none;
  border-radius: 8px;
  color: white;
}

.bodyPagos-direccionEnvio textarea {
  resize: none;
  height: 100px;
  width: 100%;
}

.bodyPagos-metodoPago {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.bodyPagos-opcionesMetodo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: white;
  border-radius: 30px;
  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
}

.bodyPagos-titulo1 {
  color: white;
  font-size: clamp(1.8rem, 2.5vw, 2.5rem);
  align-self: start;
  font-weight: bolder;
}

.bodyPagos-titulo {
  color: white;
  font-size: clamp(1.8rem, 2.5vw, 2.5rem);
  align-self: center;
  font-weight: bolder;
}

.bodyPagos-opcionesMetodo span {
  font-weight: bold;
}

.bodyPagos-botonMetodo {
  display: flex;
  align-self: center;
  background: linear-gradient(to left, #003cff, #6a35cf);
  border: none;
  border-radius: 10rem;
  padding-left: 3rem;
  gap: 0.5rem;
  width: 50%;
  height: clamp(4rem, 5.5vw, 5.5rem);
  color: white;
  font-size: clamp(1rem, 1.8vw, 1.8rem);
  font-weight: bolder;
  cursor: pointer;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
}

.bodyPagos-botonMetodo i {
  font-size: clamp(1.5rem, 4vw, 4rem);
  margin-right: 1rem;
}

.bodyPagos-botonMetodo:hover {
  text-shadow: #b4b4b4c2 1px 0 10px;
  box-shadow: #3500c7 1px 0 10px;
  transform: scale(1.05);
}

.bodyPagos-botonMetodo img {
  width: 50px;
  height: 50px;
  margin-bottom: 0.5rem;
}

.bodyPagos-botonMetodo img {
  width: 60px;
  height: 60px;
  object-fit: contain;
}

.bodyPagos-opcionesMetodo button:nth-child(2) img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.bodyPagos-direccionEnvio input,
.bodyPagos-direccionEnvio textarea {
  width: 100%;
  background-color: #480b7e;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 1rem;
  color: white;
  font-size: 1rem;
  margin-top: 0.5rem;
  transition: ease-in-out 0.3s;
}

.bodyPagos-direccionEnvio input:focus,
.bodyPagos-direccionEnvio textarea:focus {
  scale: 1.01;
  box-shadow: 0 0 20px #1b0035a2;
}

.bodyPagos-direccionEnvio input::placeholder,
.bodyPagos-direccionEnvio textarea::placeholder {
  color: #d7c4fade;
  font-size: 1rem;
}

.bodyPagos-direccionEnvio textarea {
  resize: none;
  height: 100px;
}

@media (max-width: 768px) {
  .bodyPagos-botonMetodo {
    width: 100%;
    padding: 1rem;
  }
}
