.descripcionProducto {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
    gap: 30px;
    width: 100%;
    max-width: 1100px;
}

.descripcionProducto H2 {
    font-size: 2rem;
}

.descripcionProducto p {
    font-size: 1rem;
}

@media (max-width: 1024px) {
    .descripcionProducto {
        margin-top: 1rem;
    }
}