.imagenVideoJuego {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 1em;
    justify-content: space-between;
}

.imagenVideoJuego-portada {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagenVideoJuego-portada img {
    max-width: 100%;
    border-radius: 30px;
}

@media (max-width: 1024px) {
    .imagenVideoJuego {
        display: none;
    }
}