.detallesProducto-infoProducto {
    display: flex;
    border-radius: 20px;
    padding: 20px;
    gap: 30px;
    width: 100%;
    max-width: 1100px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: clamp(1rem, 15vw, 15rem);
    z-index: 1;
}


/* Cuando es consola, anulamos la posición absoluta */

.detallesProducto-infoProducto.consola {
    position: static;
    top: auto;
}

@media (max-width: 1024px) {
    .detallesProducto-infoProducto {
        flex-direction: column;
    }
}