.DefaultCategorias{
    background-color: #190041;
}

.PlaystationCategorias{
background-color: #00226d;
}

.XboxCategorias{
      background-color: #006121;
}
.NintendoCategorias{
    background-color: #a51611;
}