.pagos-main {
    background-color: #1b014d;
    justify-content: center;
    min-height: 89vh;
    display: flex;
    gap: 2rem;
    padding: 2rem 2rem 2rem;
    box-sizing: border-box;
}

@media (max-width: 1024px) {
    .pagos-main {
        flex-direction: column;
        height: auto;
    }
}