.footer-pqrs {
    background-color: #100327;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    flex-wrap: wrap;
    gap: 2rem;
}

.pqrs-container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
}

.pqrs-title {
    font-size: 32px;
    font-weight: bold;
}

.pqrs-textarea {
    background-color: #3b158c;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 8px;
    resize: none;
    height: 120px;
    margin-bottom: 15px;
    font-size: 14px;
}

.pqrs-button {
    width: 100%;
    background: linear-gradient(to right, #7e4efc, #00cfff);
    border: none;
    padding: 0.8rem;
    border-radius: 2rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.pqrs-button:hover {
    box-shadow: 0 0 10px #7e4efc, 0 0 20px #00cfff, 0 0 30px #480ff4;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 300px;
    margin-top: 30px;
}

.logo-img {
    height: 100px;
    width: auto;
}