.info-contenedor {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  top: clamp(8rem, 16vw, 17rem);
  left: clamp(0.6rem, 5vw, 9rem);
}

.info-boton {
  font-size: clamp(0.8rem, 1.5vw, 1.2rem);
  padding: 0.4em 1em;
  border-radius: 0.3rem;
}

.default-boton {
  background-color: #190041;
}

.play-boton{
 background-color: #011b53;
}

.xbox-boton{
 background-color: #014b19;
}
.nintendo-boton{
    background-color: #8a100b;
}
.info-texto-descuento {
  color: #ffffffae;
  font-size: clamp(0.7rem, 1.5vw, 1.5rem);
  text-align: center;
  text-decoration: line-through;
  margin: 0;
}

.info-texto-precio {
  font-size: clamp(0.8rem, 1.8vw, 1.8rem);
  text-align: center;
  font-weight: bold;
  margin: 0;
}


