.Tienda-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: auto;
}

.Titulos {
  font-size: clamp(1.2rem, 4vw, 4rem);
  line-height: 1;
  align-self: flex-start;
  margin-left: 9rem;
  margin-bottom: 1em;
}

@media (max-width: 1667px) {
  .Titulos {
    margin-left: clamp(3rem, 7vw, 8rem);
  }
}