.Datos-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: start;
  padding: clamp(1rem, 3vw, 3rem) 0 0 clamp(1rem, 3vw, 3rem);
  gap: 1rem;
}

.Datos-container h2 {
  text-align: center;
  color: #ffffff;
  font-size: clamp(1.5rem, 3vw, 3rem);
  font-weight: bold;
}

@media (max-width: 1024px) {
  .Datos-container {
    align-items: center;
    padding: clamp(1rem, 3vw, 3rem) 0 clamp(1rem, 3vw, 3rem) 0;
  }
}
