.formEditarPersonales-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 50%;
  align-items: center;
}
.formEditarPersonales-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.formEditarPersonales-button-container{
  grid-column: span 2;
  display: flex;
  justify-content: center;
}

.formEditarPersonales-form input {
  min-width: 0;
  text-shadow: #ffffffa4 1px 0 3px;
  width: 100%;
  height: clamp(2rem, 4vw, 3rem);
  font-size: clamp(0.8rem, 1.2vw, 1.2rem);
  padding-left: 10px;
  color: rgb(255, 255, 255);
  border-radius: 7px;
  border: 2px solid transparent;
  outline: none;
  background-color: #522d9f;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form-password {
  grid-column: span 2;
}

.formEditarPersonales-form input:focus {
  background-color: #522d9f;
  animation: borderGradient 2s linear infinite;
  box-shadow: 0 0 0 3px rgba(0, 160, 218, 0.842), 0 0 0 3px rgba(106, 53, 207, 0.6);
  border-color: transparent;
}

.formEditarPersonales-form input::placeholder {
  text-shadow: none;
  font-size: clamp(0.8rem, 1.2vw, 1.2rem);
  color: rgba(255, 255, 255, 0.651);
}

.formEditarPersonales-button {
  font-weight: bolder;
  background: linear-gradient(to left, #00bbff, #6a35cf);
  color: white;
  font-size: clamp(0.8rem, 1.2vw, 1.2rem);
  transition: 0.2s;
  outline: none;
  border: none;
  width: clamp(5rem, 10vw, 10rem);
  height: clamp(2rem, 3vw, 3rem);
  border-radius: clamp(0.5rem, 2vw, 2rem);
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.formEditarPersonales-button:hover {
  text-shadow: #b4b4b4c2 1px 0 10px;
  box-shadow: #3500c7 1px 0 10px;
  transform: scale(1.05);
}

@media (max-width: 1024px) {
  .formEditarPersonales-container {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .formEditarPersonales-container {
    width: 10 0%;
  }
}
