:root {
  color-scheme: light dark;
  background-color: #242424;
}
main{
  color: rgba(255, 255, 255, 0.87) !important;  
  font-family: system-ui;
  overflow-x: hidden;
}
p{
  margin: 0;
}
*{
  box-sizing: border-box !important;
  margin: 0;
  padding: 0;
} 